{
  "openapi": "3.0.3",
  "servers": [
    {
      "url": "https://crm.universal.rollout.com/api"
    }
  ],
  "info": {
    "title": "Universal CRM API Documentation",
    "description": "Development documentation",
    "version": "1.0"
  },
  "components": {
    "securitySchemes": {
      "jwt": {
        "type": "http",
        "scheme": "Bearer",
        "description": "Authorization JWT"
      },
      "credential_id": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Rollout-Credential-Id",
        "description": "The Rollout Credential ID to use for queries/mutations"
      }
    },
    "schemas": {}
  },
  "paths": {
    "/people": {
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "next",
            "required": false
          },
          {
            "schema": {
              "anyOf": [
                {
                  "format": "numeric",
                  "default": 0,
                  "type": "string"
                },
                {
                  "type": "number",
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "numeric",
                      "default": 0
                    },
                    {
                      "type": "number"
                    }
                  ]
                }
              ]
            },
            "in": "query",
            "name": "offset",
            "required": false
          },
          {
            "schema": {
              "type": "number"
            },
            "in": "query",
            "name": "limit",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_metadata": {
                      "type": "object",
                      "properties": {
                        "collection": {
                          "const": "people",
                          "type": "string"
                        },
                        "offset": {
                          "type": "number"
                        },
                        "limit": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        },
                        "next": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "nextLink": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "collection",
                        "offset",
                        "limit",
                        "total",
                        "next",
                        "nextLink"
                      ]
                    },
                    "people": {
                      "type": "array",
                      "items": {
                        "additionalProperties": {},
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "assignedUserId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "officeId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "stage": {
                            "type": "string"
                          },
                          "stageId": {
                            "type": "string"
                          },
                          "tags": {
                            "anyOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "originalIds": {
                            "type": "object",
                            "patternProperties": {
                              "^(.*)$": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "string"
                                  }
                                ]
                              }
                            }
                          },
                          "original": {
                            "type": "object",
                            "patternProperties": {
                              "^(.*)$": {
                                "type": "object",
                                "patternProperties": {
                                  "^(.*)$": {}
                                }
                              }
                            }
                          },
                          "created": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "updated": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "addresses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string"
                                },
                                "street": {
                                  "type": "string"
                                },
                                "city": {
                                  "type": "string"
                                },
                                "state": {
                                  "type": "string"
                                },
                                "code": {
                                  "type": "string"
                                },
                                "country": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "type",
                                "street",
                                "city",
                                "state",
                                "code",
                                "country"
                              ]
                            }
                          },
                          "emails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "isPrimary": {
                                  "anyOf": [
                                    {
                                      "type": "boolean"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "value",
                                "type",
                                "status",
                                "isPrimary"
                              ]
                            }
                          },
                          "phones": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "isPrimary": {
                                  "anyOf": [
                                    {
                                      "type": "boolean"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "value",
                                "type",
                                "status",
                                "isPrimary"
                              ]
                            }
                          },
                          "source": {
                            "type": "string"
                          },
                          "averageBeds": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "averagePrice": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "birthday": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "lastActivity": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "lastActivityType": {
                            "type": "string"
                          },
                          "contactTypes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "jobTitle": {
                            "type": "string"
                          },
                          "companyName": {
                            "type": "string"
                          },
                          "communicationsConsent": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "boolean"
                              },
                              "call": {
                                "type": "boolean"
                              },
                              "text": {
                                "type": "boolean"
                              },
                              "massEmail": {
                                "type": "boolean"
                              },
                              "postalMail": {
                                "type": "boolean"
                              },
                              "visit": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "firstName",
                          "lastName",
                          "assignedUserId",
                          "officeId",
                          "stage",
                          "stageId",
                          "tags",
                          "originalIds",
                          "original",
                          "created",
                          "updated",
                          "addresses",
                          "emails",
                          "phones",
                          "source",
                          "averageBeds",
                          "averagePrice",
                          "birthday",
                          "lastActivity",
                          "lastActivityType",
                          "contactTypes",
                          "jobTitle",
                          "companyName",
                          "communicationsConsent"
                        ]
                      }
                    }
                  },
                  "required": [
                    "_metadata",
                    "people"
                  ]
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_metadata": {
                      "type": "object",
                      "properties": {
                        "collection": {
                          "const": "people",
                          "type": "string"
                        },
                        "offset": {
                          "type": "number"
                        },
                        "limit": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        },
                        "next": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "nextLink": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "collection",
                        "offset",
                        "limit",
                        "total",
                        "next",
                        "nextLink"
                      ]
                    },
                    "people": {
                      "type": "array",
                      "items": {
                        "additionalProperties": {},
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "assignedUserId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "officeId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "stage": {
                            "type": "string"
                          },
                          "stageId": {
                            "type": "string"
                          },
                          "tags": {
                            "anyOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "originalIds": {
                            "type": "object",
                            "patternProperties": {
                              "^(.*)$": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "string"
                                  }
                                ]
                              }
                            }
                          },
                          "original": {
                            "type": "object",
                            "patternProperties": {
                              "^(.*)$": {
                                "type": "object",
                                "patternProperties": {
                                  "^(.*)$": {}
                                }
                              }
                            }
                          },
                          "created": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "updated": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "addresses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string"
                                },
                                "street": {
                                  "type": "string"
                                },
                                "city": {
                                  "type": "string"
                                },
                                "state": {
                                  "type": "string"
                                },
                                "code": {
                                  "type": "string"
                                },
                                "country": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "type",
                                "street",
                                "city",
                                "state",
                                "code",
                                "country"
                              ]
                            }
                          },
                          "emails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "isPrimary": {
                                  "anyOf": [
                                    {
                                      "type": "boolean"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "value",
                                "type",
                                "status",
                                "isPrimary"
                              ]
                            }
                          },
                          "phones": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "isPrimary": {
                                  "anyOf": [
                                    {
                                      "type": "boolean"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "value",
                                "type",
                                "status",
                                "isPrimary"
                              ]
                            }
                          },
                          "source": {
                            "type": "string"
                          },
                          "averageBeds": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "averagePrice": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "birthday": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "lastActivity": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "lastActivityType": {
                            "type": "string"
                          },
                          "contactTypes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "jobTitle": {
                            "type": "string"
                          },
                          "companyName": {
                            "type": "string"
                          },
                          "communicationsConsent": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "boolean"
                              },
                              "call": {
                                "type": "boolean"
                              },
                              "text": {
                                "type": "boolean"
                              },
                              "massEmail": {
                                "type": "boolean"
                              },
                              "postalMail": {
                                "type": "boolean"
                              },
                              "visit": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "firstName",
                          "lastName",
                          "assignedUserId",
                          "officeId",
                          "stage",
                          "stageId",
                          "tags",
                          "originalIds",
                          "original",
                          "created",
                          "updated",
                          "addresses",
                          "emails",
                          "phones",
                          "source",
                          "averageBeds",
                          "averagePrice",
                          "birthday",
                          "lastActivity",
                          "lastActivityType",
                          "contactTypes",
                          "jobTitle",
                          "companyName",
                          "communicationsConsent"
                        ]
                      }
                    }
                  },
                  "required": [
                    "_metadata",
                    "people"
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_metadata": {
                      "type": "object",
                      "properties": {
                        "collection": {
                          "const": "people",
                          "type": "string"
                        },
                        "offset": {
                          "type": "number"
                        },
                        "limit": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        },
                        "next": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "nextLink": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "collection",
                        "offset",
                        "limit",
                        "total",
                        "next",
                        "nextLink"
                      ]
                    },
                    "people": {
                      "type": "array",
                      "items": {
                        "additionalProperties": {},
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "assignedUserId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "officeId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "stage": {
                            "type": "string"
                          },
                          "stageId": {
                            "type": "string"
                          },
                          "tags": {
                            "anyOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "originalIds": {
                            "type": "object",
                            "patternProperties": {
                              "^(.*)$": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "string"
                                  }
                                ]
                              }
                            }
                          },
                          "original": {
                            "type": "object",
                            "patternProperties": {
                              "^(.*)$": {
                                "type": "object",
                                "patternProperties": {
                                  "^(.*)$": {}
                                }
                              }
                            }
                          },
                          "created": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "updated": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "addresses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string"
                                },
                                "street": {
                                  "type": "string"
                                },
                                "city": {
                                  "type": "string"
                                },
                                "state": {
                                  "type": "string"
                                },
                                "code": {
                                  "type": "string"
                                },
                                "country": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "type",
                                "street",
                                "city",
                                "state",
                                "code",
                                "country"
                              ]
                            }
                          },
                          "emails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "isPrimary": {
                                  "anyOf": [
                                    {
                                      "type": "boolean"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "value",
                                "type",
                                "status",
                                "isPrimary"
                              ]
                            }
                          },
                          "phones": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "isPrimary": {
                                  "anyOf": [
                                    {
                                      "type": "boolean"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "value",
                                "type",
                                "status",
                                "isPrimary"
                              ]
                            }
                          },
                          "source": {
                            "type": "string"
                          },
                          "averageBeds": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "averagePrice": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "birthday": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "lastActivity": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "lastActivityType": {
                            "type": "string"
                          },
                          "contactTypes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "jobTitle": {
                            "type": "string"
                          },
                          "companyName": {
                            "type": "string"
                          },
                          "communicationsConsent": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "boolean"
                              },
                              "call": {
                                "type": "boolean"
                              },
                              "text": {
                                "type": "boolean"
                              },
                              "massEmail": {
                                "type": "boolean"
                              },
                              "postalMail": {
                                "type": "boolean"
                              },
                              "visit": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "firstName",
                          "lastName",
                          "assignedUserId",
                          "officeId",
                          "stage",
                          "stageId",
                          "tags",
                          "originalIds",
                          "original",
                          "created",
                          "updated",
                          "addresses",
                          "emails",
                          "phones",
                          "source",
                          "averageBeds",
                          "averagePrice",
                          "birthday",
                          "lastActivity",
                          "lastActivityType",
                          "contactTypes",
                          "jobTitle",
                          "companyName",
                          "communicationsConsent"
                        ]
                      }
                    }
                  },
                  "required": [
                    "_metadata",
                    "people"
                  ]
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "errorMessage"
                  ]
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "errorMessage"
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "errorMessage"
                  ]
                }
              }
            }
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "const": "Data for this credential is not ready yet. Please try again.",
                      "type": "string"
                    }
                  },
                  "required": [
                    "errorMessage"
                  ]
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "const": "Data for this credential is not ready yet. Please try again.",
                      "type": "string"
                    }
                  },
                  "required": [
                    "errorMessage"
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "const": "Data for this credential is not ready yet. Please try again.",
                      "type": "string"
                    }
                  },
                  "required": [
                    "errorMessage"
                  ]
                }
              }
            }
          }
        },
        "operationId": "getPeople",
        "tags": [
          "People"
        ],
        "security": [
          {
            "jwt": [],
            "credential_id": []
          }
        ]
      },
      "post": {
        "parameters": [],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "firstName": {
                      "type": "string"
                    },
                    "lastName": {
                      "type": "string"
                    },
                    "assignedUserId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "officeId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "stage": {
                      "type": "string"
                    },
                    "stageId": {
                      "type": "string"
                    },
                    "tags": {
                      "anyOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "originalIds": {
                      "type": "object",
                      "patternProperties": {
                        "^(.*)$": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "string"
                            }
                          ]
                        }
                      }
                    },
                    "original": {
                      "type": "object",
                      "patternProperties": {
                        "^(.*)$": {
                          "type": "object",
                          "patternProperties": {
                            "^(.*)$": {}
                          }
                        }
                      }
                    },
                    "created": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "updated": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "addresses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "street": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "street",
                          "city",
                          "state",
                          "code",
                          "country"
                        ]
                      }
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "isPrimary": {
                            "anyOf": [
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "value",
                          "type",
                          "status",
                          "isPrimary"
                        ]
                      }
                    },
                    "phones": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "isPrimary": {
                            "anyOf": [
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "value",
                          "type",
                          "status",
                          "isPrimary"
                        ]
                      }
                    },
                    "source": {
                      "type": "string"
                    },
                    "averageBeds": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "averagePrice": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "birthday": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "lastActivity": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "lastActivityType": {
                      "type": "string"
                    },
                    "contactTypes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "jobTitle": {
                      "type": "string"
                    },
                    "companyName": {
                      "type": "string"
                    },
                    "communicationsConsent": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "boolean"
                        },
                        "call": {
                          "type": "boolean"
                        },
                        "text": {
                          "type": "boolean"
                        },
                        "massEmail": {
                          "type": "boolean"
                        },
                        "postalMail": {
                          "type": "boolean"
                        },
                        "visit": {
                          "type": "boolean"
                        }
                      }
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "firstName",
                    "lastName",
                    "assignedUserId",
                    "officeId",
                    "stage",
                    "stageId",
                    "tags",
                    "originalIds",
                    "original",
                    "created",
                    "updated",
                    "addresses",
                    "emails",
                    "phones",
                    "source",
                    "averageBeds",
                    "averagePrice",
                    "birthday",
                    "lastActivity",
                    "lastActivityType",
                    "contactTypes",
                    "jobTitle",
                    "companyName",
                    "communicationsConsent"
                  ]
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "firstName": {
                      "type": "string"
                    },
                    "lastName": {
                      "type": "string"
                    },
                    "assignedUserId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "officeId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "stage": {
                      "type": "string"
                    },
                    "stageId": {
                      "type": "string"
                    },
                    "tags": {
                      "anyOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "originalIds": {
                      "type": "object",
                      "patternProperties": {
                        "^(.*)$": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "string"
                            }
                          ]
                        }
                      }
                    },
                    "original": {
                      "type": "object",
                      "patternProperties": {
                        "^(.*)$": {
                          "type": "object",
                          "patternProperties": {
                            "^(.*)$": {}
                          }
                        }
                      }
                    },
                    "created": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "updated": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "addresses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "street": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "street",
                          "city",
                          "state",
                          "code",
                          "country"
                        ]
                      }
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "isPrimary": {
                            "anyOf": [
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "value",
                          "type",
                          "status",
                          "isPrimary"
                        ]
                      }
                    },
                    "phones": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "isPrimary": {
                            "anyOf": [
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "value",
                          "type",
                          "status",
                          "isPrimary"
                        ]
                      }
                    },
                    "source": {
                      "type": "string"
                    },
                    "averageBeds": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "averagePrice": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "birthday": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "lastActivity": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "lastActivityType": {
                      "type": "string"
                    },
                    "contactTypes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "jobTitle": {
                      "type": "string"
                    },
                    "companyName": {
                      "type": "string"
                    },
                    "communicationsConsent": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "boolean"
                        },
                        "call": {
                          "type": "boolean"
                        },
                        "text": {
                          "type": "boolean"
                        },
                        "massEmail": {
                          "type": "boolean"
                        },
                        "postalMail": {
                          "type": "boolean"
                        },
                        "visit": {
                          "type": "boolean"
                        }
                      }
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "firstName",
                    "lastName",
                    "assignedUserId",
                    "officeId",
                    "stage",
                    "stageId",
                    "tags",
                    "originalIds",
                    "original",
                    "created",
                    "updated",
                    "addresses",
                    "emails",
                    "phones",
                    "source",
                    "averageBeds",
                    "averagePrice",
                    "birthday",
                    "lastActivity",
                    "lastActivityType",
                    "contactTypes",
                    "jobTitle",
                    "companyName",
                    "communicationsConsent"
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "firstName": {
                      "type": "string"
                    },
                    "lastName": {
                      "type": "string"
                    },
                    "assignedUserId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "officeId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "stage": {
                      "type": "string"
                    },
                    "stageId": {
                      "type": "string"
                    },
                    "tags": {
                      "anyOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "originalIds": {
                      "type": "object",
                      "patternProperties": {
                        "^(.*)$": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "string"
                            }
                          ]
                        }
                      }
                    },
                    "original": {
                      "type": "object",
                      "patternProperties": {
                        "^(.*)$": {
                          "type": "object",
                          "patternProperties": {
                            "^(.*)$": {}
                          }
                        }
                      }
                    },
                    "created": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "updated": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "addresses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "street": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "street",
                          "city",
                          "state",
                          "code",
                          "country"
                        ]
                      }
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "isPrimary": {
                            "anyOf": [
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "value",
                          "type",
                          "status",
                          "isPrimary"
                        ]
                      }
                    },
                    "phones": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "isPrimary": {
                            "anyOf": [
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "value",
                          "type",
                          "status",
                          "isPrimary"
                        ]
                      }
                    },
                    "source": {
                      "type": "string"
                    },
                    "averageBeds": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "averagePrice": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "birthday": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "lastActivity": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "lastActivityType": {
                      "type": "string"
                    },
                    "contactTypes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "jobTitle": {
                      "type": "string"
                    },
                    "companyName": {
                      "type": "string"
                    },
                    "communicationsConsent": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "boolean"
                        },
                        "call": {
                          "type": "boolean"
                        },
                        "text": {
                          "type": "boolean"
                        },
                        "massEmail": {
                          "type": "boolean"
                        },
                        "postalMail": {
                          "type": "boolean"
                        },
                        "visit": {
                          "type": "boolean"
                        }
                      }
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "firstName",
                    "lastName",
                    "assignedUserId",
                    "officeId",
                    "stage",
                    "stageId",
                    "tags",
                    "originalIds",
                    "original",
                    "created",
                    "updated",
                    "addresses",
                    "emails",
                    "phones",
                    "source",
                    "averageBeds",
                    "averagePrice",
                    "birthday",
                    "lastActivity",
                    "lastActivityType",
                    "contactTypes",
                    "jobTitle",
                    "companyName",
                    "communicationsConsent"
                  ]
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "errorMessage"
                  ]
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "errorMessage"
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "errorMessage"
                  ]
                }
              }
            }
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "const": "Data for this credential is not ready yet. Please try again.",
                      "type": "string"
                    }
                  },
                  "required": [
                    "errorMessage"
                  ]
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "const": "Data for this credential is not ready yet. Please try again.",
                      "type": "string"
                    }
                  },
                  "required": [
                    "errorMessage"
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "const": "Data for this credential is not ready yet. Please try again.",
                      "type": "string"
                    }
                  },
                  "required": [
                    "errorMessage"
                  ]
                }
              }
            }
          }
        },
        "operationId": "postPeople",
        "tags": [
          "People"
        ],
        "security": [
          {
            "jwt": [],
            "credential_id": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "stage": {
                    "type": "string"
                  },
                  "assignedUserId": {
                    "type": "string"
                  },
                  "officeId": {
                    "type": "string"
                  },
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "isPrimary": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "value"
                      ]
                    }
                  },
                  "phones": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "isPrimary": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "value"
                      ]
                    }
                  },
                  "addresses": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "street": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "source": {
                    "type": "string"
                  },
                  "averageBeds": {
                    "type": "number"
                  },
                  "averagePrice": {
                    "type": "number"
                  },
                  "birthday": {
                    "type": "string"
                  },
                  "rating": {
                    "type": "number"
                  },
                  "lastActivity": {
                    "type": "string"
                  },
                  "lastActivityType": {
                    "type": "string"
                  },
                  "contactTypes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "jobTitle": {
                    "type": "string"
                  },
                  "companyName": {
                    "type": "string"
                  },
                  "communicationsConsent": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "boolean"
                      },
                      "call": {
                        "type": "boolean"
                      },
                      "text": {
                        "type": "boolean"
                      },
                      "massEmail": {
                        "type": "boolean"
                      },
                      "postalMail": {
                        "type": "boolean"
                      },
                      "visit": {
                        "type": "boolean"
                      }
                    }
                  }
                },
                "required": [
                  "firstName",
                  "lastName"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "stage": {
                    "type": "string"
                  },
                  "assignedUserId": {
                    "type": "string"
                  },
                  "officeId": {
                    "type": "string"
                  },
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "isPrimary": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "value"
                      ]
                    }
                  },
                  "phones": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "isPrimary": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "value"
                      ]
                    }
                  },
                  "addresses": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "street": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "source": {
                    "type": "string"
                  },
                  "averageBeds": {
                    "type": "number"
                  },
                  "averagePrice": {
                    "type": "number"
                  },
                  "birthday": {
                    "type": "string"
                  },
                  "rating": {
                    "type": "number"
                  },
                  "lastActivity": {
                    "type": "string"
                  },
                  "lastActivityType": {
                    "type": "string"
                  },
                  "contactTypes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "jobTitle": {
                    "type": "string"
                  },
                  "companyName": {
                    "type": "string"
                  },
                  "communicationsConsent": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "boolean"
                      },
                      "call": {
                        "type": "boolean"
                      },
                      "text": {
                        "type": "boolean"
                      },
                      "massEmail": {
                        "type": "boolean"
                      },
                      "postalMail": {
                        "type": "boolean"
                      },
                      "visit": {
                        "type": "boolean"
                      }
                    }
                  }
                },
                "required": [
                  "firstName",
                  "lastName"
                ]
              }
            },
            "text/plain": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "stage": {
                    "type": "string"
                  },
                  "assignedUserId": {
                    "type": "string"
                  },
                  "officeId": {
                    "type": "string"
                  },
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "isPrimary": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "value"
                      ]
                    }
                  },
                  "phones": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "isPrimary": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "value"
                      ]
                    }
                  },
                  "addresses": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "street": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "source": {
                    "type": "string"
                  },
                  "averageBeds": {
                    "type": "number"
                  },
                  "averagePrice": {
                    "type": "number"
                  },
                  "birthday": {
                    "type": "string"
                  },
                  "rating": {
                    "type": "number"
                  },
                  "lastActivity": {
                    "type": "string"
                  },
                  "lastActivityType": {
                    "type": "string"
                  },
                  "contactTypes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "jobTitle": {
                    "type": "string"
                  },
                  "companyName": {
                    "type": "string"
                  },
                  "communicationsConsent": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "boolean"
                      },
                      "call": {
                        "type": "boolean"
                      },
                      "text": {
                        "type": "boolean"
                      },
                      "massEmail": {
                        "type": "boolean"
                      },
                      "postalMail": {
                        "type": "boolean"
                      },
                      "visit": {
                        "type": "boolean"
                      }
                    }
                  }
                },
                "required": [
                  "firstName",
                  "lastName"
                ]
              }
            }
          }
        }
      }
    },
    "/people/{id}": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "firstName": {
                      "type": "string"
                    },
                    "lastName": {
                      "type": "string"
                    },
                    "assignedUserId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "officeId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "stage": {
                      "type": "string"
                    },
                    "stageId": {
                      "type": "string"
                    },
                    "tags": {
                      "anyOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "originalIds": {
                      "type": "object",
                      "patternProperties": {
                        "^(.*)$": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "string"
                            }
                          ]
                        }
                      }
                    },
                    "original": {
                      "type": "object",
                      "patternProperties": {
                        "^(.*)$": {
                          "type": "object",
[...]
